.news {
  margin-bottom: 123px;
}

.news__list {
  margin-bottom: 53px;
}

.news__item {
  display: inline-block;
  vertical-align: top;
  width: 557px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 23px;
}
.news__item:last-child {
  margin-right: 0px;
}

.news__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__contect {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 26px 31px;
  min-height: 160px;
}


.news__date {
  font-size: 14px;
  margin-bottom: 12px;
}

.news__title {
  margin-bottom: 4px;
  font-size: 24px;
}

.paginator {
  text-align: center;
}

.paginator__text,.paginator__list {
  vertical-align: middle;
  display: inline-block;
}

.paginator__text {
  margin-right: 25px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--activ .paginator__link {
  background-color: #fff;
  color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}


